.content{
  margin-top: 12px;
}
.userCardWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 42px;

  .userCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    .userName{
      font-size: 48px;
      font-weight: 400;
      color: #333;
    }
  }
}



.quizList h3{
  font-size: 28px;
  font-weight: 600;
  color: #222;
}
