.loginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23vw;
  padding: 20px;
  /*   background-color: #f4f4f6; */
  background-color: #fff;
  /*   border: 0.8px solid #eee; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 16px;
}

.loginBoxParent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}

.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.loginButton {
  background-color: var(--main-color);
  border-radius: 12px;
  width: 100%;
  // font-size: calc(6px + 8 * (100vw - 320px) / 880);
  color: white;
  font-weight: 600;
  transition: 0.3s ease;
  height: 44px;
}

.loginInput {
  font-size: calc(6px + 8 * (100vw - 320px) / 880) !important;
  padding: 0 14px 0 9px;
  height: 44px;
  width: 100%;
  border-radius: 8px;
  outline: none;
  border: 1px solid #ccc;
  color: #111;
  background-color: #fff;
  transition: none;
}

.loginButton:hover {
  background-color: #1286d4;
  cursor: pointer;
}

.loginInput::after {
  border-bottom: 0px !important;
}
.loginInput::before {
  border-bottom: 0px !important;
}
.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.inputs{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


@media(max-width:1100px){
  .loginBox{
    width: 40vw;
  }
}

@media(max-width:800px){
  .loginBox{
    width: 60vw;
  }
  .loginInput{
    font-size: 13px!important;
  }
  .form{
    gap: 12px;
  }
}

@media(max-width:500px){
  .loginBox{
    width: 90vw;
  }
}

@media(max-height: 500px){

}
