.TestForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;

  .TestFormBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 32px 64px 32px 24px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: #fff;
    border-radius: 12px;
    position: relative;

    .TestFormIcons{
      position: absolute;
      top: 24px;
      right: 24px;

      .Icon{
        font-size: 32px;
        cursor: pointer;
      }
    }

    .TestQuestionInput{
      margin-bottom: 18px;
    }

    .settings{
      display: flex;
      justify-content: space-between;
    }

    .questionInput{
      margin-bottom: 28px;
    }

    .QuestionSettings{
      display: flex;
      flex-direction: column;
      width: 40%;
      gap: 20px;
    }

    .AnswerOptions{
      display: flex;
      flex-direction: column;
      width: min-content;
      gap: 20px;

      .AnswerOptionLabel{
        //width: 242px;
        display: flex;
        align-items: center;
        gap: 6px;
      }

      .AddAnswerOption{
        width: 100%;
        background-color: var(--main-color);
        color: #fff;
        padding: 12px 0px;
        border-radius: 12px;
        font-size: 12px;
        font-weight: 600;
        border: none;
        transition: 0.3s ease;
        &:hover{
          background-color: #1583d4;
          cursor: pointer;
        }
      }

    }
    .AnswerBlock{
      display: flex;
    }


  }
  .AddQuestion{
    padding: 16px 0px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    // margin-top: 4px;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    &:hover{
      background-color: #1583d4;
      cursor: pointer;
    }
    .IconAddQuestion{
      font-size: 24px;
    }
  }

}

.testWrapper{
  display: flex;
  flex-direction: column;
}

.AnswerOptionRadio{
  transform: scale(1.1);
  margin-right: 8px;
}

.Icon{
  font-size: 32px;
  cursor: pointer;
}
.multiChoice{
  display: flex;
  align-items: center;
  gap: 5px;
}

.selectForm{
  width: 100%;
  margin-bottom: 40px;
  border-radius: 8px;
}

.shortAnswerBlock{
  width: 80%;
}

.shortAnswerInput{
  width: 55%;
}


.textareaNewQuestion{
  min-height: 150px;
  resize: none;
}

.singleChoice{
  display: flex;
  gap: 5px;
}

.testFormTitle{
  font-size: 18px!important;
  font-weight: 700!important;
  margin-top: 0;
  margin-bottom: 12px;
}

.textareaDescription{
  margin-top: 36px;
}

.AddQuestionIcon{
  font-size: 20px;
}

.TestFormBlockHead{
  padding: 32px 24px!important;
}

.answerOptionInput{
  width: 300px;
}

@media(max-width: 800px) {
  .questionInput{
    width: 92%!important;
  }
  .TestFormBlock{
    padding: 30px 24px!important;
  }
  .selectForm{
    font-size: 14px;
    border-radius: 8px;
  }
  .answerOptionInput input{
    font-size: 14px;
  }
  .AnswerOptions, .shortAnswerInput{
    width: 45%!important;
  }
  .AddAnswerOption{
    width: 100%!important;
  }
  .QuestionSettings{
    width: 48%!important;
  }
  .answerOptionInput{
    width: 85%;
  }
  .Icon{
    font-size: 26px!important;
  }
  .textareaNewQuestion{
    font-size: 15px;
  }
  .AddQuestion{
    font-size: 15px!important;
  }
}

@media(max-width: 550px){
  .settings{
    flex-direction: column;
    gap: 36px;
  }
  .AnswerOptions, .shortAnswerInput,.QuestionSettings{
    width: 100%!important;
  }
  .TestFormIcons{
    top: 14px!important;
    right: 14px!important;
  }
  .questionInput{
    width: 96%!important;
  }
  .selectForm{
    margin-bottom: 25px;
  }
  .TestFormBlock{
    padding: 24px 18px !important;
  }
}
