.TableCreateUser{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.TableCreateUserForm{
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
