.tabPanels {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 67px;
  left: 0;
  right: 0;
  z-index: 30;
  border-bottom: 1px #ccc solid;
}

.tabPanelsContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0px 0px 0px;
}

.TestContainer {
  width: 100%;
  //max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

.tabContent,.tabContentResult {
  margin-top: 130px;
}

.setting {
  width: 100%;
}

.settingInline {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.BtnSaveForm {
  background-color: var(--main-color);
  color: #fff;
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
  border: none;
  transition: 0.3s ease;
  height: min-content;
  position: absolute;
  right: 24px;

  &:hover {
    background-color: #1583d4;
    cursor: pointer;
  }
}

.settingsBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 32px 16px 32px 16px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #fff;
  border-radius: 12px;
  position: relative;
  gap: 30px;
}

.settingsTitle {
  margin-top: 0px;
}

.settingsInput,
.selectForm {
  width: 100%;
}

.settingCheckbox {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media(max-width: 1020px){
  .tabContentResult{
    padding: 0px;
  }

}

@media(max-width: 900px){
  .tabContent{
    padding: 16px 10px 10px 10px!important;
    padding-top: 20px!important;
  }
  .tabPanelContent{
    padding: 16px 0px 0px 0px!important;
  }
  .tabContentResult{
    padding-top: 0px !important;
  }
  .tabPanelsContent{
    justify-content: flex-start;
    margin-left: 25px;
  }
}

@media (max-width: 770px) {
  .settingInline label{
    width: 90%;
  }
  .settingCheckbox{
    width: 20px;
    height: 20px;
  }
}

@media(max-width: 600px){
  .BtnSaveForm {
    position: unset;
    width: 330px;
  }
  .tabPanelsContent {
    flex-direction: column-reverse;
    margin-left: 0;
    padding-top: 0;
  }
  .tabPanelContent{
    padding: 24px 10px;
  }

  .tab{
    font-size: 12px!important;
  }
  .settingsTitle{
    font-size: 15px;
  }
  .settingsInput input{
    font-size: 13px!important;
  }
  .selectForm{
    font-size: 13px!important;
  }
  .settingInline label{
    font-size: 12px!important;
  }
}



@media (max-width: 550px) {
  .BtnSaveForm {
    width: 80%;
  }
  .tabsList{
    margin-top: 4px;
  }
}

@media (max-width: 450px) {
  .BtnSaveForm {
    width: 88%;
  }

}
