.quiz{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  //height:max-content;
  max-height: 700px;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  border-radius:12px;
  //position: relative;
  margin-bottom: 80px;
  background-color: #f8f8f8;
}

@media(max-height: 900px){
  .quiz{
    min-height: 80vh;
  }
  .quizWithoutImage{
    min-height: 80vh!important;

  }
  .quizWithImage{
    min-height: 70vh;
  }
}

@media(max-height: 900px){

  .quizWithoutImage{
    min-height: 78vh!important;

  }
}




@media(max-height: 780px){
  .quizWithoutImage{
    min-height: 100vh!important;

  }
  .quizImage{
    width: 40%!important;
  }
  .testContainer{
    padding-top: 100px!important;
  }
}
@media(max-height: 600px){

  .quizWithoutImage{
    min-height: 110vh!important;

  }
}


@media(max-height: 500px){

  .quizWithoutImage{
    min-height: 120vh!important;

  }
  .quizImage{
    width: 40%!important;
  }
}


.quizWithoutImage{
  min-height: 60vh;
}

.testWrapper{
  width: 80%;
}

.blockStart{
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #fff;
  border-radius: 12px;
  gap: 20px;
}
.blockStartInfoWrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.blockStartInfoLeft{
  color: #000;
  font-size: 20px;
  font-weight: 600;
  align-items: flex-start!important;
  margin: 0;
}
.blockStartInfoRight{
  color: #333;
  font-size: 20px;
  font-weight: 400;
}
.blockStartInfo{
  display: flex;
  align-items: center;
  gap: 12px;
}

.blockStartInfoDescription{
  margin-left: 12px;
  white-space: unset!important;
}

.blockFinish{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: calc(50%);
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #fff;
  border-radius: 12px;
  gap: 20px;
}

.blockFinishInfoLeft{
  color: #000;
  font-size: 23px;
  font-weight: 600;
}
.blockFinishInfoRight{
  color: #333;
  font-size: 23px;
  font-weight: 500;
}

.buttonStart{
  font-weight: 700;
}



.quiz-header{
  width:  100%;
  background-color:var(--main-color);
  display:flex;
  border-top-right-radius:12px;
  border-top-left-radius:12px;
  justify-content: center;
}

.header-title{
  font-size: 32px;
  color: #fff;
}


.quiz-questions{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.quiz-question{
  background-color: #fff;
  width: 49%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 12px;
  transition: 0.3s;
  border-radius: 8px;
  border:0px;
  user-select: none;
}

.quiz-question:disabled{
  opacity: 0.7;

}

.optionSelected{
  background-color: #efefef;
  outline: 1px solid #c3c3c3;
}

@media (hover: hover) {
  .quiz-question:hover{
    cursor: pointer;
    background-color: #f5f5f5;
  }
}

.question-text-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;
  margin-top: 24px;
}


.question-text{
  font-size: 32px;
  text-align: center;
  margin: 0;
  user-select: none;
}


.quiz-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 80%;
  height: 100%;
  padding: 80px 0px 40px 0px;
  position: relative;
}

.btn-continue{
  padding: 12px;
  width: 100%;
  color:#fff;
  background-color: var(--main-color);
  font-weight: 600;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  margin-top: 32px;
  transition: 0.3s ease;
}

.btn-continue:hover{
  cursor: pointer;
  background-color: #1686d6;
}

.correct{
  //outline: 1px solid green;
  background-color: #28ca8f;
  color: #fff;
}

.error{
  //outline: 1px solid red;
  background-color: #f16161;
  color: #fff;
}

.quiz-timer{
  display: flex;
  align-items: center;
  position: absolute;
  gap: 12px;
  right: 32px;
  top: 32px;
  width: 105px;
}

.quiz-question-count{
  display: flex;
  align-items: center;
  position: absolute;
  gap: 12px;
  left: 32px;
  top: 32px;

}

.timer-text{
  font-size: 24px;
  font-weight: 600;
}

.quizIcons{
  position: absolute;
  right: 20px;
  top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}




.question-count-text{
  font-size: 24px;
  font-weight: 500;
}

.timeIsLeftError{
  color: red;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 700;
}

.quizImageBlock{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.quizImage{
  width: 50%;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}


.shortAnswerInput{
  width: 100%;
}
.testContainer{
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 120px;
}
.wrapperWithTimer{

}

.iconTestSecondLeft{
  margin-right: 5px;
}

.testSecondLeftBlock{
  position: absolute;
  top: 118px;
  right: 48px;
  display: flex;
  align-items: center;
}

.testSecondLeftTitle{
  font-size: 25px;
  text-align: center;
  font-weight: 400;
}
.testSecondLeftTimer{
  font-size: 25px;
  font-weight: 400;
  width: 80px;
  text-align: center;
}

.testSecondLeftText{
  font-size: 25px;
  font-weight: 400;
}


//position: absolute;
//top: 69px;
//right: -120px;

@media(max-width: 1500px){
  .testSecondLeftBlock{
    right: 12px;
  }
}

.choiseTypeText{
  font-size: 16px;
  margin-bottom: 14px;
  text-align: center;
}


.wrapperWithTimer{
  position: relative;
}
.testSecondLeftBlock{
  position: absolute;
  bottom: -30px;
  left: calc(50%);
  justify-content: center;
  margin-bottom: 24px;
  height: max-content;
  top: unset;
  width: max-content;
  transform: translate(-50%, -50%);
}
@media(max-width: 1400px){

}



@media(max-width:1200px ){
  .testWrapper{
    width: 90%;
  }

  .blockStart{
    width: 70%;
  }
  .blockStartInfo{
    gap: 8px;
  }
  .blockStartInfoDescription{
    margin-left: 8px;
  }

  .blockStartInfoLeft{
    font-size: 18px;
  }
  .blockStartInfoRight{
    font-size: 18px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
  }
}

@media(max-width: 1100px){
  .testWrapper{
    width: 100%;
  }
  .testContainer{
    padding-top: 100px;
  }
  .quiz-questions{
    gap: unset;
    row-gap: 16px;
  }
  //.quiz-question{
  //  width: 48.5%;
  //}
}

@media(max-width: 1000px){
  .question-text{
    font-size: 26px;
  }
  .question-count-text{
    font-size: 20px;
  }
  .timer-text{
    font-size: 20px;
  }
  .iconQuestion{
    width: 28px;
    height: 28px;
  }
  .iconQuestionTimer{
    width: 28px;
    height: 28px;
  }

  .testSecondLeftTimer{
    font-size: 22px;
    width: 75px;
  }
  .testSecondLeftText{
    font-size: 22px;
  }
  .iconTestSecondLeft{
    width: 28px;
    height: 28px;
  }
  .btn-continue{
    font-size: 18px;
  }
  .testSecondLeftBlock{
    bottom: -10px;
  }
  .blockFinish{
    width: 60%;
  }
  .blockFinishInfoLeft{
    font-size: 16px;
  }
  .blockFinishInfoRight{
    font-size: 16px;
  }
}


@media(max-width: 900px){
  .blockStart{
    width: 80%;
  }
  .blockStartInfoWrapper{
    gap: 7px;
  }
  .blockStartInfo{
    gap: 6px;
  }
  .blockStartInfoDescription{
    margin-left: 6px;
  }

  .blockStartInfoLeft{
    font-size: 16px;
  }
  .blockStartInfoRight{
       font-size: 16px;
  }
  .buttonStart{
    font-size: 16px;
  }

}
@media (hover: none) {
  .quiz-question:hover {
    background-color: #fff;
  }
  .optionSelected:hover{
    background-color: #efefef!important;
    outline: 1px solid #c3c3c3!important;
  }
}

@media(max-width: 780px){
  .quizImage{
    width: 60%;
  }
  .question-text{
    font-size: 23px;
  }
  .question-count-text{
    font-size: 18px;
  }

  .iconTestSecondLeft{
    width: 28px;
    height: 28px;
  }
  .btn-continue{
    font-size: 16px;
  }
  .quiz-wrapper{
    width: 95%;
  }
  .choiseTypeText{
    font-size: 14px;
  }
}

@media(max-width: 670px){

  .question-text{
    font-size: 22px;
  }
  .question-count-text{
    font-size: 18px;
  }
  .iconQuestion{
    width: 24px;
    height: 24px;
  }
  .iconQuestionTimer{
    width: 24px;
    height: 24px;
  }
  .testSecondLeftTimer{
    font-size: 20px;
    width: 75px;
  }
  .btn-continue{
    font-size: 16px;
  }

  .quiz-wrapper{
    width: 95%;
  }

  .testContainer{
    padding-left: 10px!important;
    padding-right: 10px!important;
  }

  .quiz{
    //box-shadow: none;
    //background-color:#f5f5f5;
  }

  .quiz-question-count{
    top: 22px;
    left: 10px;
  }
  .quiz-timer{
    top: 22px;
    right: 10px;
    width: max-content;
  }

  .testInnerWrapper{
    margin-top: 70px;
  }
  .quiz-wrapper{
    padding: 5px 0px 40px 0px;
  }
  .testSecondLeftBlock{
    margin-bottom: 0px;
  }

  .testContainer{
    padding-top:80px;
  }

  .testSecondLeftBlock{
    bottom: 10px;
  }

  .blockStart{
    width: 95%;
  }

  .buttonStart{
    font-size: 14px;
  }
}

@media(max-width: 600px){
  .quizWithoutImage{
    min-height: 90vh!important;

  }
  .quizWithImage{
    min-height: 60%;
  }
}

@media(max-width: 500px){
  .blockStart{
    width: 100%;
    padding: 24px 16px;
    gap: 12px;
  }
  .blockStartInfoWrapper{
    gap: 5px;
  }
  .blockStartInfo{
    gap: 3px;
  }
  .blockStartInfoDescription{
    margin-left: 3px;
  }

  .blockStartInfoLeft{
    font-size: 14px;
  }
  .blockStartInfoRight{
    font-size: 14px;
  }
  .buttonStart{
    font-size: 14px;
  }

  .question-text{
    font-size: 18px;
  }

  .testSecondLeftBlock{
    bottom: 20px;
  }
  .quizImage{
    width: 65%;
  }
  .quiz-wrapper{
    padding-bottom: 24px;
  }
  .quiz-question{
    font-size: 11px;
  }
  .btn-continue{
    font-size: 14px;
    margin-top: 12px;
  }

  .question-count-text{
    font-size: 15px;
  }
  .question-text-wrapper{
    margin-top: 0;
  }
  .iconQuestion{
    width: 20px;
    height: 20px;
  }
  .iconQuestionTimer{
    width: 20px;
    height: 20px;
  }

  .testSecondLeftTimer{
    font-size: 18px;
    width: 65px;
  }.testSecondLeftText{
    font-size: 18px;
  }
  .iconTestSecondLeft{
    margin: 0;
  }

  .blockFinish{
    width: 70%;
  }
  .choiseTypeText{
    font-size: 13px;
  }
}
@media(max-width: 390px){
  .blockFinish{
    width: 90%;
  }
  .blockStartInfo{
    gap: 2px;
  }
  .blockStartInfoDescription{
    margin-left: 2px;
  }

  .blockStartInfoLeft{
    font-size: 13px;
  }
  .blockStartInfoRight{
    font-size: 13px;
  }
  .buttonStart{
    font-size: 11px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .choiseTypeText{
    font-size: 12px;
  }
}
